In [1]:
import rag_helper as rh
lib_path = "../querylib_20250825.db"
results = rh.match(
    file=lib_path, 
    query="How many patients had a biopsy?", 
    k=3
)

In [2]:
results

,INDEX,QUESTION_TYPE,QUESTION,QUESTION_MASKED,QUERY_MASKED,QUERY_EXECUTABLE,SourceQuery,Score
0,217,QA,How many distinct patients?,How many distinct patients?,SELECT \n COUNT(DISTINCT person_id) AS tota...,SELECT \n COUNT(DISTINCT person_id) AS tota...,How many patients had a biopsy?,0.779693
1,76,QA,How many patient were admitted to hospital wit...,How many patient were admitted to hospital wit...,WITH pulmonary_embolism_patients AS (\n SEL...,WITH pulmonary_embolism_patients AS (\n SEL...,How many patients had a biopsy?,0.746467
2,69,QA,How many Patient have a serum potassium measur...,How many Patient have a MEASUREMENT measuremen...,WITH serum_potassium_measurements AS (\n SE...,WITH serum_potassium_measurements AS (\n SE...,How many patients had a biopsy?,0.723787